.letter_0{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -73px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_0:hover{
                background-color: green;    
            }
            .letter_1{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -130px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_1:hover{
                background-color: green;    
            }
            .letter_2{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -186px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_2:hover{
                background-color: green;    
            }
            .letter_3{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -237px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_3:hover{
                background-color: green;    
            }
            .letter_4{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -294px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_4:hover{
                background-color: green;    
            }
            .letter_5{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -348px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_5:hover{
                background-color: green;    
            }
            .letter_6{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -409px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_6:hover{
                background-color: green;    
            }
            .letter_7{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -454px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_7:hover{
                background-color: green;    
            }
            .letter_8{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -513px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_8:hover{
                background-color: green;    
            }
            .letter_9{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -567px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_9:hover{
                background-color: green;    
            }
            .letter_10{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -621px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_10:hover{
                background-color: green;    
            }
            .letter_11{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -675px -538px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_11:hover{
                background-color: green;    
            }
            .letter_12{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -24px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_12:hover{
                background-color: green;    
            }
            .letter_13{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -78px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_13:hover{
                background-color: green;    
            }
            .letter_14{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -131px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_14:hover{
                background-color: green;    
            }
            .letter_15{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -187px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_15:hover{
                background-color: green;    
            }
            .letter_16{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -239px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_16:hover{
                background-color: green;    
            }
            .letter_17{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -294px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_17:hover{
                background-color: green;    
            }
            .letter_18{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -347px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_18:hover{
                background-color: green;    
            }
            .letter_19{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -401px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_19:hover{
                background-color: green;    
            }
            .letter_20{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -462px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_20:hover{
                background-color: green;    
            }
            .letter_21{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -511px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_21:hover{
                background-color: green;    
            }
            .letter_22{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -567px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_22:hover{
                background-color: green;    
            }
            .letter_23{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -621px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_23:hover{
                background-color: green;    
            }
            .letter_24{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -682px -590px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_24:hover{
                background-color: green;    
            }
            .letter_25{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -157px -640px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_25:hover{
                background-color: green;    
            }
            .letter_26{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -205px -640px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_26:hover{
                background-color: green;    
            }
            .letter_27{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -264px -640px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_27:hover{
                background-color: green;    
            }
            .letter_28{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -313px -640px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_28:hover{
                background-color: green;    
            }
            .letter_29{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -364px -640px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_29:hover{
                background-color: green;    
            }
            .letter_30{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -430px -640px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_30:hover{
                background-color: green;    
            }
            .letter_31{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters.png);
                background-color: grey;    
                background-position: -476px -641px; 
                width:44px;
                height:54px;
                border-radius: 5px;
            }

        .letter_31:hover{
            background-color: green;    
        }
        .letter_32{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -306px -371px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_32:hover{
                    background-color: green;    
                }
                .letter_33{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -107px -14px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_33:hover{
                    background-color: green;    
                }
                .letter_34{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -295px -150px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_34:hover{
                    background-color: green;    
                }
                .letter_35{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -348px -150px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_35:hover{
                    background-color: green;    
                }
                .letter_36{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -402px -150px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_36:hover{
                    background-color: green;    
                }
                .letter_37{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -457px -150px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_37:hover{
                    background-color: green;    
                }
                .letter_38{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -512px -150px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_38:hover{
                    background-color: green;    
                }
                .letter_39{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -560px -150px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_39:hover{
                    background-color: green;    
                }
                .letter_40{
                        display: inline-block;
                        background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                        background-color: grey;    
                        background-position: -2px -222px; 
                        background-size: 687px;
                        width:44px;
                        height:54px;
                        border-radius: 5px;
                    }

                    .letter_40:hover{
                        background-color: green;    
                    }
                    .letter_41{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -60px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_41:hover{
                    background-color: green;    
                }
                .letter_42{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -109px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_42:hover{
                    background-color: green;    
                }
                .letter_43{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -143px -225px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_43:hover{
                    background-color: green;    
                }
                .letter_44{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -189px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_44:hover{
                    background-color: green;    
                }
                .letter_45{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -240px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_45:hover{
                    background-color: green;    
                }
                .letter_46{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -291px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_46:hover{
                    background-color: green;    
                }
                .letter_47{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -356px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_47:hover{
                    background-color: green;    
                }
                .letter_48{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -415px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_48:hover{
                    background-color: green;    
                }
                .letter_49{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -472px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_49:hover{
                    background-color: green;    
                }
                .letter_50{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -527px -222px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_50:hover{
                    background-color: green;    
                }
                .letter_51{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -581px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_51:hover{
                    background-color: green;    
                }
                .letter_52{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -627px -223px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_52:hover{
                    background-color: green;    
                }
                .letter_53{
                display: inline-block;
                background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                background-color: grey;    
                background-position: -1px -294px; 
                background-size: 687px;
                width:44px;
                height:54px;
                border-radius: 5px;
            }

            .letter_53:hover{
                background-color: green;    
            }
            .letter_54{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -55px -294px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_54:hover{
                    background-color: green;    
                }
                .letter_55{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -109px -294px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_55:hover{
                    background-color: green;    
                }
                .letter_56{
                        display: inline-block;
                        background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                        background-color: grey;    
                        background-position: -154px -263px; 
                        background-size: 618px;
                        width:44px;
                        height:54px;
                        border-radius: 5px;
                    }

                    .letter_56:hover{
                        background-color: green;    
                    }
                    .letter_57{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -238px -294px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_57:hover{
                    background-color: green;    
                }
                .letter_58{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -292px -294px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_58:hover{
                    background-color: green;    
                }
                .letter_59{
                    display: inline-block;
                    background: url(https://xn--d1aiwkc2d.club/img/letters_english.png);
                    background-color: grey;    
                    background-position: -344px -294px; 
                    background-size: 687px;
                    width:44px;
                    height:54px;
                    border-radius: 5px;
                }

                .letter_59:hover{
                    background-color: green;    
                }
                .letter_999{
    display: inline-block;
    background: url(https://xn--d1aiwkc2d.club/img/star_transparent.png);
    background-color: grey;    
    background-position: center center;
    background-size: 30px;
    background-repeat: no-repeat;    
    width:44px;
    height:54px;
    border-radius: 5px;
}

.letter_999:hover{
    background-color: green;    

}
.letter_9999{
    display: inline-block;
    background: url(https://xn--d1aiwkc2d.club/img/star_transparent.png);
    background-color: grey;    
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;    
    width:76px;
    height:92px;
    border-radius: 5px;
}

.letter_9999:hover{
    background-color: green;    

}