/* -------------------------------------------------------------------------- */
/*                                     new                                    */
/* -------------------------------------------------------------------------- */
.modal-dialog.modal-settings {
	max-width: 430px;
}
.modal-settings .modal-content {
	background-image: url(../images/settings-bg.png);
	background-position: center;
	background-size: cover;
	max-width: 430px;
	border-radius: 0;
}
.modal-settings .modal-body {
	overflow-y: auto;
	scrollbar-color: #8585ad hsla(227, 56%, 21%, 0.75);
	scrollbar-width: thin;
}
.modal-settings .modal-header {
	padding: 0;
	margin: 0;
	border-bottom: none;
	border-radius: 0;
}
.modal-settings .modal-footer {
	border-top: none;
	margin: 0;
	/* padding: 0; */
	border-radius: 0;
}

.modal-settings .modal-body,
.modal-settings .modal-footer {
	padding-left: 16px;
	padding-right: 16px;
}

.modal-settings .modal-footer {
	padding-left: 42px;
	padding-right: 42px;
	padding-bottom: 46px;
	padding-top: 40px;
}

.box {
	border-radius: 14px;
	padding: 8px 26px;
	background: hsla(227, 56%, 21%, 0.75);
	color: #fff;
	margin-bottom: 22px;
	font-size: 11px;
	font-weight: 900;
}
.modal-settings .modal-footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.modal-settings .modal-footer::before {
	content: '';
	position: absolute;
	left: 16px;
	right: 16px;
	top: 0;
	bottom: 16px;
	display: block;
	border-radius: 14px;
	padding: 8px 26px;
	background: hsla(227, 56%, 21%, 0.75);
	z-index: 0;
}

.modal-settings .modal-footer > * {
	position: relative;
}

.modal-settings .modal-footer .btn {
	flex: 0 0 110px;
	padding-left: 2px;
	padding-right: 2px;
	width: auto;
}

.box .text-accent {
	color: #bdcb34;
}

.box .btn,
.modal-settings .btn {
	color: #fff;
	border-radius: 6px;
	border: 2px solid #4b9c90;
	background: rgb(75, 118, 177);
	background: radial-gradient(circle, rgba(75, 118, 177, 1) 0%, rgba(36, 64, 99, 1) 100%);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	font-size: 12px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.btn-red {
    color: #fff !important;
    background: rgb(75, 118, 177) !important;
    background: radial-gradient(circle, rgba(255, 100, 100, 1) 0%, rgba(36, 64, 99, 1) 100%) !important;
}

.btn-red:hover {
    color: #fff !important;
    background: radial-gradient(circle, rgb(56, 89, 134) 0%, rgb(21, 38, 58) 100%) !important;
}

.modal-settings a.btn {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.modal-settings a.btn:after {
	content: '';
	height: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 0;
}

.box .btn:hover,
.modal-settings .btn:hover {
	color: #fff;
	background: radial-gradient(circle, rgb(56, 89, 134) 0%, rgb(21, 38, 58) 100%);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.39);
}

.modal-settings .btn.btn-tg {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	min-height: 34px;
}
.modal-settings .btn.btn-tg::after {
	content: '';
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-left: 4px;
	background: url(../images/tg.png) center center no-repeat;
}

.box-heading {
	text-transform: uppercase;
}

.box-title-wrap {
	font-weight: 900;
	text-align: center;
	margin-bottom: 10px;
}

.box [type='radio'] {
	display: none;
}

.box .form-check {
	width: 124px;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.box .label-row {
	display: flex;
	justify-content: space-between;
	gap: 6px;
}
.box label {
	cursor: pointer;
	display: block;
	/* width: 124px; */
	width: 100%;
	padding-bottom: 1px;
	text-align: center;
	border-radius: 10px;
	font-size: 11px;
	font-weight: 900;
	border: 1px solid #909dcd;
}
.box-rating .form-check {
	margin-bottom: 10px;
}
.icon.icon-arrow:before {
	content: '';
	display: block;
	width: 26px;
	height: 12px;
	margin-right: 8px;
	background: url(../images/arrow.png) 0 0 no-repeat;
}

.box [type='radio']:checked + label {
	border: 3px solid #30b367; /*#4b9c90;*/
}
.time-img-wrap {
	width: 42px;
}
@media (max-width: 575px) {
	.modal-settings .modal-footer {
		justify-content: center;
	}
}
/* -------------------------------------------------------------------------- */
/*                                   END NEW                                  */
/* -------------------------------------------------------------------------- */

.modal-profile .box,
.modal-stats .box {
	padding-left: 6px;
	padding-right: 6px;
}
.modal-settings .modal-footer {
}
/* .modal-settings .modal-footer::before {
	left: 16px;
	right: 16px;
	top: 0;
	bottom: 10px;
	display: block;
	border-radius: 14px;
	padding: 8px 6px;
} */
/* .modal-settings.modal-profile .modal-footer {
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 24px;
	padding-top: 14px;
} */
.modal-settings .box-top {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.modal-settings .box-bottom {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-top: 15px;
	padding-bottom: 38px;
	margin-bottom: 10px;
}
.main-info-image-wrap {
	flex: 0 1 160px;
}
.main-info-image {
	display: block;
	max-width: 140px;
	max-height: 100px;
	inset: 0;
	margin: auto;
}
.main-info-id {
	font-style: italic;
	margin-bottom: 30px;
}
.main-info-id span {
	font-style: normal;
	margin-left: 10px;
	font-size: 13px;
	font-weight: bold;
}
.modal-profile .file-label {
}
label.file-label {
	display: flex;
	flex-wrap: nowrap;
}

label.file-label:before {
	content: var(--choose-file, 'Choose file');
	display: block;
	font-size: 9px;
	padding: 3px 6px 0;
	border-radius: 10px;
	margin-top: -1px;
	margin-bottom: -2px;
	margin-left: -1px;
	flex: 0 0 auto;
	border: 2px solid #909dcd;
	max-width: 60px;
	line-height: 1.2;
	transition: background 0.3s ease;
}
label.file-label [type='file'] {
	cursor: pointer;
	display: flex;
	height: auto;
	background: transparent;
	color: #909dcd;
	padding: 0;
	margin-left: 8px;
	align-self: center;
	border: 0;
	font-weight: bold;
	font-size: 13px;
	border: none !important;
}
label.file-label [type='file']::file-selector-button {
	display: none;
}
label.file-label [type='file']:focus,
.modal-settings label.file-label [type='file']:focus {
	/* display: none; */
	/* visibility: hidden; */
	background: transparent;
	outline: none;
	box-shadow: none;
}
label.file-label:hover:before,
label.file-label:active:before {
	background: #909dcd;
}
.modal-settings .btn.btn-sm,
.modal-settings .btn.btn-sm.modal-footer {
	min-width: 80px;
	width: auto;
	height: auto;
	padding: 0;
	min-height: 30px;
	font-size: 11px;
	align-self: start;
	flex-basis: 80px;
}
.modal-profile .nickname {
	display: block;
	font-size: 16px;
	text-decoration: underline;
	color: #4ddb62;
	text-align: center;
}
.flex-eq {
	flex: 1 1 80px;
}
.nickname-inpit-wrap {
	flex: 1 1 228px;
	padding: 0 3px;
}
.modal-settings input.form-control {
	display: block;
	border: 1px solid #909dcd;
	background: transparent;
	border-radius: 10px;
	padding: 5px 8px;
	font-size: 15px;
	line-height: 1.2;
	height: auto;
	font-weight: bold;
}
.modal-settings input.form-control::placeholder {
	color: #909dcd;
	font-weight: bold;
}
.modal-settings input.form-control:focus {
	background: #fff;
}
.modal-profile .rating-list-wrap {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.modal-profile .rating-list {
	flex: 0 1 228px;
	margin: 0;
	padding: 0 5px;
}
.modal-profile .rating-list li {
	position: relative;
	margin: 6px 0;
}
.modal-profile .rating-list .label {
	align-self: center;
}
.modal-profile .rating-list .pill {
	margin-left: auto;
}
.modal-settings .pill {
	display: block;
	border-radius: 10px;
	border: 1px solid #909dcd;
	min-width: 90px;
	text-align: center;
	padding: 1px;
	font-weight: 900;
	font-size: 11px;
	align-self: start;
	min-height: 20px;
}
.modal-profile .rating-list .icon.icon-coin {
	display: block;
	height: 0;
	margin-top: 0;
	overflow: visible;
	margin-left: auto;
	align-self: center;
}
.modal-profile .rating-list .icon.icon-coin:before {
	content: '';
	display: block;
	margin-top: -18px;
	width: 36px;
	height: 36px;
	background: url(../images/coin.png) center no-repeat;
	background-size: cover;
}
.modal-settings .modal-dialog {
	max-width: 430px;
}

.tab-content-wrap {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}
.tab-content {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	/* width: 100%; */
	overflow-x: hidden;
	transform: translate(0, 0);
}

.tab-content > .tab-pane {
	display: block;
	/* width: 100%; */
	/* flex: 0 0 100%; */
	/* visibility: hidden; */
	/* margin-left: -9999px; */
}

.tab-content > .tab-pane.active {
	visibility: visible;
	margin-left: 0;
	height: auto;
}

.tg-input-wrap {
	flex: 1 1 204px;
	padding: 0 5px;
}

.modal-profile input {
	color: #909dcd;
}
.tg-input-wrap input {
	height: 20px;
	align-self: center;
}

.icon.icon-copy {
	display: block;
	width: 24px;
	height: 30px;
	margin-left: 5px;
	margin-right: 4px;
}
.modal-profile .icon.icon-copy:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/copy.png) center no-repeat;
	background-size: cover;
}
.wallet-info-wrap {
	/* display: flex; */
	position: relative;
	flex: 1 1 auto;
	margin-top: 4px;
	padding-right: 8%;
}
.wallet-info-wrap > div:not(:last-child) {
	position: relative;
	margin-bottom: 20px;
}
.wallet-info-wrap .label {
	display: block;
	flex: 1 1 auto;
}
.wallet-info-wrap > div:first-child .pill:before {
	content: '';
	position: absolute;
	display: block;
	/* right: 94px; */
	top: 100%;
	left: -50px;
	margin-top: -7px;
	width: 36px;
	height: 36px;
	background: url(../images/coin.png) center no-repeat;
	background-size: cover;
}
.wallet-info-wrap > div:first-child .pill:after {
	content: '';
	position: absolute;
	display: block;
	/* right: 94px; */
	top: 100%;
	left: 100%;
	margin-top: -2px;
	width: 34px;
	height: 32px;
	background: url(../images/arrow-down.png) center no-repeat;
	background-size: cover;
	margin-left: -12px;
}
.wallet-info-wrap .pill {
	display: block;
	position: relative;
	flex: 0 1 90px;
	min-width: auto;
	text-wrap: nowrap;
}
.referrals-tab-pane .table-heading {
	text-decoration: underline;
	display: block;
}

.referrals-tab-pane .table-heading:first-of-type {
	margin-left: 11%;
}
.referral-list {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 400px;
	overflow-y: auto;
	overscroll-behavior: contain;
	scroll-snap-type: both mandatory;
	scrollbar-color: #8585ad hsla(227, 56%, 21%, 0.75);
	scrollbar-width: thin;
}

.referral-list li {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	scroll-snap-align: start;
}
.referral-list li:last-of-type {
	margin-bottom: 0;
}
.referral-list .name {
	text-overflow: ellipsis;
	overflow: hidden;
    padding-left: 15px;
}
.referral-list .pill-wrap {
	margin-left: auto;
	flex: 0 0 116px;
	align-self: stretch;
	display: flex;
	flex-wrap: nowrap;
}
.referral-list .pill-wrap:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	/*background: url(../images/coin.png) 0 0 no-repeat;
	background-size: cover;*/
}

.referral-list::-webkit-scrollbar {
	width: 14px;
}
.referral-list::-webkit-scrollbar-corner {
	background: hsla(227, 56%, 21%, 0.75);
}
.referral-list::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 30px;
	border: 4px solid hsla(227, 56%, 21%, 0.75);
	background-clip: content-box;
	/* min-width: 22px; */
	min-height: 22px;
}
.referral-list::-webkit-scrollbar-track {
	background-color: hsla(227, 56%, 21%, 0.75);
}

.referral-list .pill {
	display: block;
}

.modal-settings .nav-tabs {
	display: flex;
	flex-wrap: nowrap;
	border: none;
}
.modal-settings .nav-item {
	flex: 0 1 100px;
	width: auto;
	/* min-width: max-content; */
	/* max-width: min(100px, max-content); */
	justify-content: flex-start;
	text-transform: uppercase;
	position: relative;
	background: linear-gradient(90deg, #254563, #52d07a) no-repeat;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.modal-settings .nav-tabs .nav-item.show .nav-link,
.modal-settings .nav-tabs .nav-link,
.modal-settings .nav-tabs .nav-link.active {
	display: flex;
	position: relative;
	padding: 7px 2px;
	height: 100%;
	min-height: 30px;
	text-align: center;
	color: #fff;
	z-index: 1;
	background: transparent;
	border: none;
	line-height: 1.3;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 900;
}

.modal-settings .nav-item::after {
	content: '';
	display: block;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 2px;
	right: 3px;
	background: #1e2d59;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	z-index: 0;
}
.modal-settings.modal-profile .nav-item::after {
	bottom: 2px;
}
.modal-settings.modal-profile .modal-content {
	background-position: center top;
}
.modal-settings .nav-item:has(.nav-link.active)::after {
	bottom: 0;
}
.modal-settings .text-accent {
	font-weight: 900;
	/* font-size: 16px; */
	color: #4ddb62;
}
.modal-settings .fw-bold {
	font-weight: 900;
}
.modal-settings .h6 {
	font-size: 15px;
}
.modal-settings .h5 {
	font-size: 17px;
}
.modal-settings .h4 {
	font-size: 18px;
}
.modal-settings .modal-title {
	text-align: center;
	display: block;
	font-size: 12px;
	font-weight: 700;
}
.modal-settings .fs-4 {
	font-size: 12px;
}
.modal-settings .modal-footer {
	--box-margin-bottom: 10px;
	--box-margin-x: 16px;
	--box-padding-y: 20px;
	--box-padding-x: 28px;
	--offset-x: calc(var(--box-padding-x) + var(--box-margin-x));
	--offset-bottom: calc(var(--box-padding-y) + var(--box-margin-bottom));
	padding-left: var(--offset-x);
	padding-right: var(--offset-x);
	padding-top: var(--box-padding-y);
	padding-bottom: var(--offset-bottom);
}
.modal-settings .modal-footer::before {
	left: var(--box-margin-x);
	right: var(--box-margin-x);
	top: 0;
	bottom: var(--box-margin-bottom);
	display: block;
	border-radius: 14px;
	/* padding: 8px 6px; */
}
.modal-settings.modal-profile .modal-footer {
	--box-padding-y: 6px;
	--box-padding-x: 6px;
}
.modal-settings.modal-stats .modal-footer {
	--box-padding-y: 4px;
	--box-padding-x: 8px;
	--box-margin-x: 9px;
	--box-margin-bottom: 13px;
}
.modal-settings.modal-stats .modal-body {
	padding: 9px;
}

.modal-settings.modal-stats .nav-item::after {
	bottom: 2px;
}
.modal-stats .box-heading {
	padding: 2px 0;
}
.modal-stats .box-top {
	padding: 4px 3px 0;
}
.modal-stats .tabs .nav-item {
	flex-basis: 122px;
}
.modal-stats .nav-tabs .nav-item.show .nav-link,
.modal-stats .nav-tabs .nav-link,
.modal-stats .nav-tabs .nav-link.active {
	padding: 5px 2px;
}
.modal-stats .img-col {
	margin-left: auto;
	max-width: 92px;
	padding: 5px 9px 0 7px;
	align-self: stretch;
	flex-shrink: 0;
}
.modal-stats .img-wrap {
	border-radius: 5px;
	overflow: hidden;
}
.modal-stats .img-col img {
	max-width: 100%;
}
.modal-stats .player-info .left-col {
	flex-grow: 1;
	margin-top: 1px;
	padding-left: 0;
	font-size: 14px;
	word-wrap: anywhere;
}
.modal-stats .player-info .left-col > div:first-child {
	margin-bottom: 17px;
}
.modal-stats .player-info .left-col span:first-of-type {
	display: block;
	flex-basis: 55px;
	word-wrap: normal;
	line-height: 28px;
}
.modal-stats .player-info .left-col span:last-of-type {
	display: block;
	margin-left: 5px;
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 17px;
	font-weight: 700;
}
/* --------------------------------- УДАЛИТЬ -------------------------------- */
.modal-stats .tab-content-wrap {
	overflow-y: auto;
	scrollbar-color: #8585ad hsla(227, 56%, 21%, 0.75);
	scrollbar-width: thin;
	overscroll-behavior: contain;
}
.modal-stats .pagination {
	display: flex;
	/* flex-wrap: wrap; */
	flex-wrap: nowrap;
	font-size: 17px;
	font-weight: 700;
	margin-top: 1px;
	margin-bottom: 0;
	padding-left: 8px;
}
.modal-stats .pagination a,
.modal-stats .pagination span {
	padding: 3px 2px;
	color: #fff;
}
.modal-stats .pagination .active span {
	color: #4ddb62;
}
.modal-stats .match-history-table {
	margin-top: 3px;
}
.modal-stats .match-history-table ul {
	margin: 0;
	padding: 0;
	width: 100%;
}
.modal-stats .match-history-table .th {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 11px;
	color: #fff;
	font-weight: 900;
	/* flex: 1 0 0; */
	text-align: center;
	margin-bottom: 4px;
}
.modal-stats .match-history-thead {
	padding-left: 8px;
	padding-right: 8px;
}
.color-win {
	color: #4ddb62;
}
.color-lose {
	color: #ff0303;
}
.modal-stats .match-history-item.match-history--win .match-history-result,
.modal-stats .match-history-item.match-history--win .match-history-rating span {
	color: #4ddb62;
}
.modal-stats .match-history-item.match-history--lose .match-history-result,
.modal-stats .match-history-item.match-history--lose .match-history-rating span {
	color: #ff0303;
}
.modal-stats .match-history-table li {
	padding: 3px 8px;
	align-items: center;
	text-align: center;
	margin-bottom: 6px;
}
.modal-stats .match-history-table .pill {
	max-width: 94px;
	width: auto;
	min-width: auto;
	margin: 0 auto;
}
.modal-stats .match-history-date,
.modal-stats .match-history-table .th:nth-child(1) {
	flex-grow: 1;
	flex-basis: 86px;
}
.modal-stats .match-history-date {
	font-size: 13px;
	font-weight: 900;
}
.modal-stats .match-history-result,
.modal-stats .match-history-rating,
.modal-stats .match-history-table .th:nth-child(2),
.modal-stats .match-history-table .th:nth-child(3) {
	flex-basis: 108px;
}
.modal-stats .match-history-opponent {
	padding: 5px 7px 0 9px;
	overflow: hidden;
}
.modal-stats .match-history-opponent,
.modal-stats .match-history-table .th:nth-child(4) {
	/* flex-basis: 90px; */
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 92px;
	flex-basis: 92px;
}
.modal-stats .match-history-opponent img {
	display: block;
	max-width: 100%;
	margin-bottom: 2px;
}
.modal-stats .match-history-opponent figure {
	max-width: 100%;
	margin: 0;
}
.modal-stats .match-history-opponent a {
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	word-wrap: anywhere;
}
.awards-title {
	padding-left: 6px;
	font-weight: 900;
	font-size: 14px;
	margin-bottom: 16px;
}
.total.box {
	margin-top: 34px;
	margin-bottom: 0;
	text-align: center;
	display: flex;
	padding: 5px 15px 18px;
	justify-content: space-between;
	color: #fff;
}
.total .col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 1 1 fit-content;
	text-align: center;
	padding: 0;
}
.total span {
	display: block;
}
.total span:first-of-type {
	display: flex;
	align-items: center;
	text-decoration: underline;
	flex-grow: 1;
	justify-content: center;
	padding-bottom: 8px;
}
.total span:last-of-type {
	--border: 1px solid #909dcd;
	margin-top: auto;
	border-top: var(--border);
	border-bottom: var(--border);
}
.total .col:first-of-type span:last-of-type {
	border-left: var(--border);
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}
.total .col:last-of-type span:last-of-type {
	border-right: var(--border);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}
.modal-settings .modal-footer .btn.btn-auto {
	flex-basis: auto;
	padding-left: 6px;
	padding-right: 6px;
}

.bonuses-accrued {
    padding-right: 6px;
}

/* ---------------------------------- CARDS --------------------------------- */
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy-Bold.ttf') format('ttf');
	src: url('../fonts/Gilroy-Regular.woff') format('woff'),
		url('../fonts/Gilroy-Regular.ttf') format('ttf');
	src: url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
		url('../fonts/Gilroy-ExtraBold.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
.card-list-wrap p {
	padding: 0;
	margin: 0;
}
.card-list-wrap ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.card_list > li {
	flex-grow: 1;
	width: 49%;
}
.card_list .full_card {
	width: auto;
}
.card_moneyCount {
	white-space: nowrap;
}
.card-list-wrap .date {
	font-size: 18px;
	line-height: 18px;
	display: block;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 4px;
}
.divider {
	border: none;
	height: 1px;
	margin: 0 auto;
	color: #b28c1d;
	background-color: #b28c1d;
	width: 90%;
}

.card_list {
	font-family: 'Gilroy', sans-serif;
	color: rgb(255, 255, 255);
	margin-top: 45px;
	display: flex;
	list-style-type: none;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 45px;
	word-break: break-all;
}

.card_item {
	border: 2px solid rgb(200, 200, 200)/*rgb(70, 66, 66)*/;
	padding: 16px 20px 16px 20px;
	height: 100%;
	width: 100%;
	max-width: 398px;
	border-radius: 30px;
}

.gold_card {
	background: url('../images/gold.png') center center no-repeat;
	background-size: cover;
}

.silver_card {
	background: url('../images/silver.png') center center no-repeat;
	background-size: cover;
}

.bronze_card {
	background: url('../images/bronze-background.jpg') center center no-repeat;
	background-size: cover;
}

.stone_card {
	background: url('../images/moreTexturedStone.png') center center no-repeat;
	background-size: cover;
}

.card_record {
	font-size: 28px;
	color: rgb(255, 255, 255);
	font-family: Gilroy;
	font-weight: 900;
	text-transform: uppercase;

	text-align: center;
	padding: 10px 10px 10px 10px;
	border-radius: 22px;
	background: url('../images/record.png') no-repeat center center;
	background-size: cover;
}

.card_points {
	background: url('../images/points.png') no-repeat center center;
	background-size: cover;
	border-radius: 16px;
	width: 100%;
	height: fit-content;
	text-align: center;
	font-size: 28px;
	font-weight: 900;
}

.full_cards .card_points {
	margin-top: 14px;
}

.card_get {
	text-align: center;
	background: url('../images/reward.png') no-repeat center center;
	background-size: cover;
	border-radius: 38px;
	height: 100%;
	margin-top: 14px;
	padding: 19px 0 19px 0;
	font-size: 23px;
	font-weight: 900;
	outline: #b28c1d solid 1px;
	outline-offset: -6px;
}

.card_rewardImage {
	width: 97px;
	height: 97px;
}

.card_rewardInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	padding: 10px 10px 10px 10px;
}

.card_moneyCount {
	font-size: 40px;
}

.card_passive {
	text-align: center;
	margin-top: 14px;
	font-size: 18px;
	font-weight: 900;
}

.card_hour {
	text-align: center;
	margin-top: 10px;
	background: url('../images/hourImage.png') center center no-repeat no-repeat;
	background-size: cover;
	padding: 5px 10px 5px 10px;
	width: 50%;
	min-width: fit-content;
	margin: 5px auto;
	justify-items: center;
	align-items: center;
	gap: 10px;
	font-size: 23px;
	font-weight: 900;
	display: flex;
	border-radius: 40px;
}

.card_effect {
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 900;
}

.lightCard {
	height: 100%;
}

.lightCard .card_get {
	min-height: auto;
	padding: 0px;
}
.tab-content > .tab-pane {
	overflow-y: auto;
	overflow: hidden;
	/* height: 10px; */
}
.tab-content > .tab-pane.active {
	overflow-y: auto;
}
/* .modal-stats .tab-content-wrap {
	overflow-y: auto;
} */

/* @media (min-width: 360px) and (max-width: 500px) { */
@media (min-width: 320px) {
	.lightCard {
		padding: 15px 10px 15px 10px;
		max-width: 45%;
	}

	.lightCard > .card_record,
	.lightCard > .card_record > .card_points {
		font-size: 11px;
		border-radius: 12px;
		line-height: 17px;
	}

	.lightCard .card_points {
		margin-top: 0px;
	}

	.lightCard .card_plus {
		width: 15px;
		height: 15px;
	}

	.lightCard .card_rewardInfo {
		gap: 10px;
	}

	.lightCard .card_rewardImage {
		width: 26px;
		height: 26px;
	}

	.lightCard .card_get {
		margin-top: 8px;
		border-radius: 12px;
		padding: 11px 0px 11px 0px;
	}

	.lightCard .card_moneyCount {
		font-size: 11px;
	}

	.light_cards {
		row-gap: 16px;
		margin-top: 40px;
	}

	.full_cards {
		gap: 8px 2%;
	}

	.full_card {
		border-radius: 12px;
		width: 156px;
		font-size: 10px;
		padding: 7px;
	}

	.full_card .card_rewardInfo {
		gap: 7px;
	}

	.full_card .card_points {
		margin-top: 5px;
		font-size: 10px;
	}

	.full_card .card_get {
		margin-top: 6px;
		font-size: 10px;
		border-radius: 20px;
		/*outline: none;*/
		padding: 7px;
	}

	.full_card .card_get > p:first-child {
		margin-top: 3px;
	}

	.full_card .card_plus {
		width: 12px;
		height: 12px;
	}

	.full_card .card_rewardImage {
		width: 40px;
		height: 40px;
	}

	.full_card .card_hourImage {
		width: 16px;
		height: 16px;
	}

	.full_card .card_moneyCount {
		font-size: 12px;
	}

	.full_card .card_record {
		border-radius: 12px;
		font-size: 14px;
		padding: 6px;
		word-break: break-word;
	}

	.full_card .card_passive,
	.card_effect {
		font-size: 10px;
		margin-top: 5px;
	}

	.full_card .card_hour {
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 10px;
		margin-top: 5px;
		gap: 0;
		padding: 5px;
	}

	.light_cards .card_rewardInfo {
		margin-top: 5px;
		padding: 0px;
	}

	.light_cards {
		gap: 10px;
	}
}
/* -------------------------------- END CARDS ------------------------------- */
.modal-stats .pagination li {
	max-width: calc(100% / 12);
	text-align: center;
	flex-grow: 1;
}
.tab-content > .tab-pane {
	height: 0;
}
.modal-profile .tab-content > .tab-pane {
	height: auto;
}
.modal-stats button.close {
	display: none;
	position: absolute;
	right: 20px;
	top: 12px;
}

.modal-settings .nav-tabs {
	overflow: hidden;
}

.modal-settings.modal-stats .modal-content {
	background-position: top center;
}

.modal-settings .nav-item::after {
	background: #1d2c59;
}

.modal-settings .player-info .invisible {
	display: none !important;
}

.modal-stats .pagination li:only-child {
	display: none;
}

.modal-stats .pagination li:nth-child(16) ~ li {
	display: none;
}

.modal-stats .player-info .left-col > div:before {
	content: '';
	display: block;
	flex-basis: 10px;
	flex-grow: 0;
	flex-shrink: 9999;
}

.modal-stats .player-info .left-col > div {
	margin-left: 0 !important;
}

@media (max-width: 479.9px) {
	.modal-stats .player-info .left-col span:first-of-type {
		padding-left: 0;
		align-self: start;
		flex-basis: 37px;
		align-self: start;
		line-height: 20px;
		font-size: 11px;
	}

	.modal-stats .player-info .left-col span:last-of-type {
		margin-left: 2px;
		font-size: 13px;
	}

	.modal-stats .player-info .left-col {
		flex-shrink: 1;
		flex-basis: 276px;
		padding-right: 5px;
		padding-left: 0;
	}

	.modal-stats .img-col {
		max-width: none;
		padding: 0;
		padding-right: 2px;
		flex-shrink: 1;
		flex-basis: 78px;
		flex-grow: 0;
	}

	.modal-settings .pill {
		font-size: 10px;
	}

	.modal-stats .match-history-table li {
		gap: 10px;
	}

	.modal-stats .match-history-date {
		font-size: 11px;
		text-wrap: nowrap;
	}

	.modal-stats .match-history-result,
	.modal-stats .match-history-rating,
	.modal-stats .match-history-table .th:nth-child(2),
	.modal-stats .match-history-table .th:nth-child(3) {
		flex-basis: 80px;
		flex-shrink: 1;
		flex-grow: 1;
	}

	.modal-stats .match-history-date,
	.modal-stats .match-history-table .th:nth-child(1) {
		flex-basis: 86px;
	}

	.modal-stats .match-history-table .pill {
		max-width: unset;
	}

	.modal-stats .match-history-date {
		font-size: 10px;
		font-weight: 900;
	}

	.modal-stats .match-history-opponent {
		flex-shrink: 1;
		flex-basis: 78px;
		padding: 5px 0 2px;
	}

	.modal-stats .pagination a,
	.modal-stats .pagination span {
		width: 100%;
		display: block;
	}

	.modal-stats .pagination li {
		/* width: calc(100% / 16); */
		/* text-align: center; */
		font-size: 10px;
	}

	.modal-stats .pagination {
		padding-left: 2%;
		flex-wrap: nowrap;
	}

	.box {
		font-size: 10px;
	}
}

@media (max-width: 575.9px) {
	.modal-settings {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.modal-settings .modal-dialog {
		margin-left: auto;
		margin-right: auto;
	}
}

.modal-settings.modal-faq .modal-footer {
	--box-padding-y: 8px;
	--box-padding-x: 11px;
}
.modal-settings .tabs-default .nav-item::after {
	bottom: 2px;
}
.modal-settings .tabs-default .nav-item .nav-link {
	padding: 1px 2px 3px;
	line-height: 1.17;
}
.modal-settings.modal-faq .box:has( .tabs) {
	padding: 4px 4px 13px;
	margin-bottom: 3px;
}
.modal-settings.modal-faq .box {
	font-size: 0.95rem;
	font-weight: 400;
}
.modal-settings.modal-faq .box p,
.modal-settings .text-default {
	font-size: 0.95rem;
	letter-spacing: 0.8px;
	line-height: 1.3;
	color: #d2d5de;
	text-align: justify;
}
.modal-settings.modal-faq .box h2 {
	font-size: 1rem;
	margin-bottom: 1rem;
}
.modal-settings.modal-faq .box p img,
.modal-settings .text-default img {
	padding: 0.5rem;
}
.modal-settings.modal-faq .tab-content-wrap {
	overflow: hidden;
}

.table-transp { background-color: rgba(0, 0, 0, 0.1) !important; }

.modal-players .card_item {
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 12px;
    max-width: 156px;
    font-size: 10px;
}

.modal-players .card_record,
.modal-players .card_points {
    font-size: 10px;
    font-weight: 400;
}

.modal-players .card_record {
    border-radius: 8px;
    padding: 0;
    word-break: break-word;
    text-transform: capitalize;
}
.modal-players .card_get {
    display: flex;
    flex-grow: 1;
    margin-top: 6px;
    font-size: 10px;
    border-radius: 8px;
    outline: none;
    padding: 4px;
    height: auto;
    outline: rgba(178, 140, 29, 0.7) solid 1px;
    outline-offset: -3px;
    align-items: center;
    justify-content: center;
}

.modal-players .card_rewardInfo {
    display: block;
    padding: 0;
}
.modal-players .card_moneyCount {
    font-size: 12px;
}
.modal-players .card_plus {
    width: 10px;
    height: 10px;
}
.modal-players .card_rewardImage {
    width: 24px;
    height: 24px;
}

.modal-players .awards {
    margin-left: -2px;
    margin-right: -2px;
}

.modal-players .awards > * {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
}

.modal-players .nickname {
    display: block;
    font-size: 14px;
    text-decoration: underline;
    color: #4ddb62;
    text-align: center;
}

.modal-players .box-player {
    padding: 2px 12px 8px;
}

.modal-players .img-col {
    flex: 1 1 160px;
    max-width: 160px;
}
.modal-players .icon {
    display: block;
    height: 0;
    margin-top: 0;
    overflow: visible;
    margin-left: auto;
    align-self: center;
}
.modal-players .icon.icon-eye::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/eye.png) center no-repeat;
    background-size: auto;
    background-size: cover;
}
.modal-players .icon.icon-eye.icon-eye--x::before {
    background-image: url(../images/eye-x.png)
}
.modal-players .icon.icon-coin::before {
    content: '';
    display: block;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background: url(../images/bigMoney.png) center no-repeat;
    background-size: auto;
    background-size: cover;
}
.modal-players .info-col {
    flex: 1 1 226px;
    padding-left: 8px;
}
.modal-players .info-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modal-players .info-col ul li {
    display: flex;
    margin-bottom: 10px;
}

.modal-players .box-player .btn {
    flex: 0 1 94px;
    width: 94px;
}
.box-player .pill {
    flex: 0 1 94px;
    width: 94px;
    margin-left: auto;
}
.modal-settings.modal-players .modal-footer,
.modal-settings.modal--footer-compact  .modal-footer {
    --box-margin-bottom: 10px;
    --box-margin-x: 16px;
    --box-padding-y: 5px;
    --box-padding-x: 10px;
}
.modal.modal-card .card_list {
    margin-top: 0;
}
.modal.modal-players .top-rating-img-wrap img {
    width: auto;
    max-width: 100%;
}
.card_item.card--big.card_item {
    border: 2px solid rgb(200, 200, 200) /*rgb(70, 66, 66)*/;
    padding: 16px 20px 16px 20px;
    height: 100%;
    width: 100%;
    max-width: 398px;
    border-radius: 30px;
}
.card_item.card--big {
    width: 100%;
    max-width: 398px;
    border-radius: 30px;
}
.modal-card .card_list {
    display: block;
}

.card_item.card--big.card_item.card--big .card_record {
    font-size: 28px;
    padding: 10px 10px 10px 10px;
    border-radius: 22px;
}

.card_item.card--big.card_item.card--big.full_card .card_points {
    font-size: 28px;
}

.card_item.card--big.card_item.card--big.full_card .card_get {
    border-radius: 38px;
    margin-top: 14px;
    padding: 3px;
    font-size: 23px;
}

.card_item.card--big.full_card .card_moneyCount {
    font-size: 40px;
}

.card_item.card--big.full_card .card_plus {
    width: 28px;
    height: 28px;
}

.card_item.card--big.full_card .card_rewardImage {
    width: 97px;
    height: 97px;
}

.card_item.card--big.full_card .card_passive,
.card_item.card--big .card_effect {
    margin-top: 14px;
    font-size: 18px;
}

.card_item.card--big.full_card .card_hour {
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    display: flex;
}
.card_item.card--big.full_card .card_hourImage {
    width: 50px;
    height: 49px;
}
.card_item.card--big.full_card .card_rewardInfo {
    padding-top: 0;
}
.modal-card .box.card-list-wrap {
    padding: 8px 10px;
}
.modal-players .card_item {
    cursor: pointer;
}
.modal-players .card_item .divider {
    width: 80%;
}

.text-white { 
    color: #ffffff;
    font-size: 120%;
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
.modal-settings.modal-choose-letter .modal-content,
.modal-settings.modal-change-letter .modal-content {
	border-radius: 18px;
}
.modal-settings.modal-choose-letter .modal-body,
.modal-settings.modal-change-letter .modal-body  {
	padding: 8px;
}
.modal-settings.modal-choose-letter .box-heading,
.modal-settings.modal-change-letter .box-heading {
	font-size: 22px;
	font-weight: 500;
}
.letter-box {
	padding: 8px;
	margin: 0;
}
.letter-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: flex-start;
}
.letter-list > * {
	margin: 2px;
	width: calc(100%/7 - 4px);
	aspect-ratio: 1;
}
.letter-list .letter {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%, 50%;
	border-radius: 21%;
	cursor: pointer;
	overflow: hidden;
	aspect-ratio: 1;
}
.letter-list .letter:hover {
	box-shadow: 0px 0px 0px 1px #fff;
}
.letter-list input[type="checkbox"] {
	display: none;
}
.letter-list label {
	position: relative;
	width: unset;
	margin: 0;
	border: none;
}
.letter-list label::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	translate: -30% 50%;
	width: 47%;
	aspect-ratio: 1;
	background-image: url(/img/unchecked.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	opacity: 0.6;
}
.letter-list input:checked + label::before {
	background-image: url(/img/checked.png);
}
.modal-settings.modal-change-letter .letter-list label:hover::before {
	opacity: 1;
}
.modal-settings.modal-change-letter .letter-list .letter:hover {
	box-shadow: none;
}
.modal-settings.modal-change-letter .modal-footer {
    --box-margin-bottom: 8px;
    --box-margin-x: 8px;
    --box-padding-y: 8px;
    --box-padding-x: 12px;
	margin-top: 10px;
	justify-content: flex-end;
}


/* CLUB-421 */
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:transparent; // for removing the highlight
}

img {
    pointer-events: none;
}
/* CLUB-421 END */

/* CLUB-427 */
html {
    background-color: #719998;
}

:-webkit-full-screen, :fullscreen, :-ms-fullscreen, :-moz-full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: none;
}
/* CLUB-427 END */

body {
    overflow-x: hidden; /* отключает горизонтальный скролл */
    overflow-y: hidden; /* включает вертикальный скролл */
}