/.env
/vendor/autoload.php
/vendor/composer/autoload_classmap.php
/vendor/composer/autoload_namespaces.php
/vendor/composer/autoload_psr4.php
/vendor/composer/autoload_real.php
/vendor/composer/autoload_static.php
/vendor/composer/ClassLoader.php
/.idea/codeStyles/codeStyleConfig.xml
/.idea/deployment.xml
/vendor/composer/installed.json
/vendor/composer/installed.php
/vendor/composer/InstalledVersions.php
/vendor/composer/LICENSE
/.idea/modules.xml
/.idea/php.xml
/vendor/composer/platform_check.php
/.idea/sudoku.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/yii2settings.xml
